.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-container{
    height: 9vh;
}

.page-container{
    height: 91vh;
    display: flex;
    justify-content: center;
    background: #352f2b;
}